PORT=3000
MONGO_URI=mongodb+srv://ireallylovewraith_db_user:ntFLMZh89swKgZLY@elhassan-glasses.znwbcvu.mongodb.net/?retryWrites=true&w=majority&appName=KBM
FRONTEND_URL=https://glasses.mavoid.com/
JWT_SECRET=67fa9a3db19c49f8a44ebdf9a6a2e7b392fd087cae99ee654c2fc8e4b0930a7d
CLOUDINARY_CLOUD_NAME=djubh0lve
CLOUDINARY_API_KEY=478373212421918
CLOUDINARY_API_SECRET=A6eFM13KgE0XaGslM5BqU8RYHdE
CLOUDINARY_URL=cloudinary://478373212421918:A6eFM13KgE0XaGslM5BqU8RYHdE@djubh0lve
RESEND_API_KEY=re_4jWQNBbY_7ywwXumXPN9ibaF