# Database Configuration (for development)
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Ismk7@wscxSpjdbI

# Or use DATABASE_URL for production
# DATABASE_URL=postgresql://username:password@host:port/database

# Rails Secrets
SECRET_KEY_BASE=68f6d979ec98e02ad97ffc0f60438d30a6002d08dac4a407f09605d5e74d7328f93bf7a4c3c3c1f213445549cf8134a1fe12725304ad217d3063329c33bb33b2
JWT_SECRET_KEY=3f914e4948ffe15865f99023ff318eda
RESEND_API_KEY=re_8Pziu6WC_6gkNLe8gwvwUu5LJSVDbvYFH

# Optional
RAILS_LOG_LEVEL=info
FRONTEND_URL=https://sinai-vibes.mavoid.com